<app-header></app-header>
<br>
<br>
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img height="200" height="200" src="data:image/jpeg;base64,{{image}}" >
                    <div class="mt-3">
                      <h4>{{book.bookname}}</h4>
                      
                     </div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{book.bookname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Price</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{book.price}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Author</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{book.author}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Edition</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{book.edition}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{book.address}}
                    </div>
                  </div>
                  <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                 {{book.phone}}
                </div>
              </div>
           
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Other</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                 {{book.other}}
                </div>
              </div>
              

            </div>
          </div>

        </div>
    </div>