<app-header></app-header>

<html>
<head>
	<title> VHP Bookshop </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					Stationary things <br>
			<font size="5px"> We Care About Knowlwdge</font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are books and stationary providers</font> <br> <br>

					<font color="#000" size="5px"> We Have Different  type book Options for You! </font> <br> <br>
                   " A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”<br> <br>
<ul>
<li>we provide different types of books 
<li>like story tellin books,acadamy books,etc.
<li>we also provide things for drawing purpose like sketches,glitters etc..
<li>craft books ,notebooks are also provided here
<li>The cost is reasonable and we are very happy to provide your require books ,stationaries also in our bookshop 
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>